<a href="https://colab.research.google.com/github/chouhandiksha/bigdataproject/blob/colab/sketch/justin/GETSTATS_Clean_CH_2019_Social_Distancing_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clean Chicago 2019 Social Distancing Dataset

**Instructions:**

1. Mount the google drive to access the data by following **Steps to Mount the Drive**.
2. Provide the drive file path to the data, city name, and year in the fourth code cell.

**Steps to Mount the Drive:**

1. Execute the second code cell.
2. There will be a link to follow in order to authorize the google account for drive. Go to that link.
3. A code to authorize the google account will be generated. Copy the code generated.
4. Go back to the cell where the process of mounting the drive is running. Paste the generated code from step 3 to the text box in the cell and press enter.

In [ ]:
pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.0.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.19)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.2.0->geopandas) (2020.12.5)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.1)

In [ ]:
import os
import geopandas
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm, trange

import altair as alt
from vega_datasets import data

# # Allow altair to visualize large datasets
# alt.data_transformers.disable_max_rows()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
city = 'Chicago'
city_directory = 'ch'
year = '2019'

# Provide a list of CSV file paths to read
path = Path('drive/MyDrive/big-data-project/data/clean-data')
path_list = [path/city_directory/'social'/year]

In [ ]:
#Appending into dataframe

def get_df(path_list):
    df = []
    first = True
    for directory in tqdm(path_list, desc='Years'):
        f_list = os.listdir(directory)
        csv_files = [directory/f for f in f_list if f.endswith('.csv')]
        for csv in tqdm(csv_files, desc='Days'):
            if first:
                df = pd.read_csv(csv, dtype={'cbg': object})
                first = False
            else:
                df = df.append(pd.read_csv(csv, dtype={'cbg': object}), ignore_index=True)
    return df.sort_values(by=['date_range_start'])

In [ ]:
%%time

df = get_df(path_list)

HBox(children=(FloatProgress(value=0.0, description='Years', max=1.0, style=ProgressStyle(description_width='iâ€¦

HBox(children=(FloatProgress(value=0.0, description='Days', max=365.0, style=ProgressStyle(description_width='â€¦

CPU times: user 8min 34s, sys: 11.3 s, total: 8min 46s
Wall time: 17min 42s

In [ ]:
df

         Unnamed: 0  ... mean_distance_traveled_from_home
1997          66069  ...                             2733
0                79  ...                            20411
4445         147814  ...                             4958
4444         147633  ...                            45463
4443         147630  ...                             1051
...             ...  ...                              ...
2425785       74212  ...                             4116
2425784       74018  ...                             9488
2425783       74009  ...                            16215
2425793       74441  ...                            11604
2430226      219035  ...                             3019

[2430227 rows x 24 columns]

In [ ]:
# Selecting the columsn that we need for the analysis
# col = ['date_range_start',
#        'cbg',
#        'device_count',  # Total active devices
#        'completely_home_device_count',
#        'part_time_work_behavior_devices',
#        'full_time_work_behavior_devices',
#        'delivery_behavior_devices',
#        'median_percentage_time_home',
#        'median_home_dwell_time',
#        'mean_home_dwell_time',
#        'median_non_home_dwell_time',
#        'mean_non_home_dwell_time',
#        'distance_traveled_from_home', # Median Distance traveled
#        'mean_distance_traveled_from_home']
col = ['date_range_start',
       'cbg',
       'device_count',  # Total active devices
       'completely_home_device_count',
       'part_time_work_behavior_devices',
       'full_time_work_behavior_devices']
devices_mobility = df[col]

In [ ]:
#Renaming columns

devices_mobility = devices_mobility.rename(columns={'date_range_start':'date','device_count':'total', 'completely_home_device_count':'completely_home','part_time_work_behavior_devices':'part_time_work', 'full_time_work_behavior_devices':'full_time_work'})
devices_mobility

                              date  ... full_time_work
1997     2019-01-01T00:00:00-05:00  ...              1
0        2019-01-01T00:00:00-06:00  ...              7
4445     2019-01-01T00:00:00-06:00  ...              1
4444     2019-01-01T00:00:00-06:00  ...              1
4443     2019-01-01T00:00:00-06:00  ...              1
...                            ...  ...            ...
2425785  2019-12-31T00:00:00-06:00  ...              5
2425784  2019-12-31T00:00:00-06:00  ...              8
2425783  2019-12-31T00:00:00-06:00  ...              6
2425793  2019-12-31T00:00:00-06:00  ...              7
2430226  2019-12-31T00:00:00-06:00  ...              2

[2430227 rows x 6 columns]

In [ ]:
# devices_mobility

In [ ]:
#Listing out the device count columns

device_columns = ['completely_home','part_time_work','full_time_work']

In [ ]:
#Calculating percentage for all the device columns

for column in device_columns :
    devices_mobility['percentage_'+column]= devices_mobility.apply(lambda row: row[column]/row['total']*100.0 if row['total']!=0.0 else 0.0, axis=1)
devices_mobility

                              date  ... percentage_full_time_work
1997     2019-01-01T00:00:00-05:00  ...                  3.448276
0        2019-01-01T00:00:00-06:00  ...                  7.142857
4445     2019-01-01T00:00:00-06:00  ...                  2.702703
4444     2019-01-01T00:00:00-06:00  ...                  1.666667
4443     2019-01-01T00:00:00-06:00  ...                  1.204819
...                            ...  ...                       ...
2425785  2019-12-31T00:00:00-06:00  ...                  5.154639
2425784  2019-12-31T00:00:00-06:00  ...                  9.411765
2425783  2019-12-31T00:00:00-06:00  ...                  5.405405
2425793  2019-12-31T00:00:00-06:00  ...                  5.645161
2430226  2019-12-31T00:00:00-06:00  ...                  3.571429

[2430227 rows x 9 columns]

In [ ]:
#Normalising the percentage columns

for column in device_columns:
        devices_mobility['norm_'+column] = (devices_mobility['percentage_'+ column] - devices_mobility['percentage_'+column].mean()) / devices_mobility['percentage_'+column].std()

devices_mobility

                              date  ... norm_full_time_work
1997     2019-01-01T00:00:00-05:00  ...           -0.535610
0        2019-01-01T00:00:00-06:00  ...            0.240316
4445     2019-01-01T00:00:00-06:00  ...           -0.692194
4444     2019-01-01T00:00:00-06:00  ...           -0.909779
4443     2019-01-01T00:00:00-06:00  ...           -1.006775
...                            ...  ...                 ...
2425785  2019-12-31T00:00:00-06:00  ...           -0.177244
2425784  2019-12-31T00:00:00-06:00  ...            0.716826
2425783  2019-12-31T00:00:00-06:00  ...           -0.124579
2425793  2019-12-31T00:00:00-06:00  ...           -0.074226
2430226  2019-12-31T00:00:00-06:00  ...           -0.509746

[2430227 rows x 12 columns]

In [ ]:
#Conversion to datetime format

devices_mobility['date'] = pd.to_datetime(devices_mobility['date'],utc= True)
devices_mobility

                             date  ... norm_full_time_work
1997    2019-01-01 05:00:00+00:00  ...           -0.535610
0       2019-01-01 06:00:00+00:00  ...            0.240316
4445    2019-01-01 06:00:00+00:00  ...           -0.692194
4444    2019-01-01 06:00:00+00:00  ...           -0.909779
4443    2019-01-01 06:00:00+00:00  ...           -1.006775
...                           ...  ...                 ...
2425785 2019-12-31 06:00:00+00:00  ...           -0.177244
2425784 2019-12-31 06:00:00+00:00  ...            0.716826
2425783 2019-12-31 06:00:00+00:00  ...           -0.124579
2425793 2019-12-31 06:00:00+00:00  ...           -0.074226
2430226 2019-12-31 06:00:00+00:00  ...           -0.509746

[2430227 rows x 12 columns]

In [ ]:
# Normalize time

devices_mobility['date'] = devices_mobility['date'].dt.normalize()
devices_mobility

                             date  ... norm_full_time_work
1997    2019-01-01 00:00:00+00:00  ...           -0.535610
0       2019-01-01 00:00:00+00:00  ...            0.240316
4445    2019-01-01 00:00:00+00:00  ...           -0.692194
4444    2019-01-01 00:00:00+00:00  ...           -0.909779
4443    2019-01-01 00:00:00+00:00  ...           -1.006775
...                           ...  ...                 ...
2425785 2019-12-31 00:00:00+00:00  ...           -0.177244
2425784 2019-12-31 00:00:00+00:00  ...            0.716826
2425783 2019-12-31 00:00:00+00:00  ...           -0.124579
2425793 2019-12-31 00:00:00+00:00  ...           -0.074226
2430226 2019-12-31 00:00:00+00:00  ...           -0.509746

[2430227 rows x 12 columns]

In [ ]:
# Check the number of rows for each CBG

print('Min: {}\nMax: {}'.format(min(set(devices_mobility.groupby('cbg').count()['date'])), max(set(devices_mobility.groupby('cbg').count()['date']))))

Min: 2
Max: 365

In [ ]:
for col in devices_mobility.columns:
    print('\n')
    print(col)
#     if devices_mobility[col].dtype
#     print(devices_mobility[col].dtype)
    print('Min: {}\nMax: {}'.format(devices_mobility[col].min(), devices_mobility[col].max()))

date
Min: 2019-01-01 00:00:00+00:00
Max: 2019-12-31 00:00:00+00:00


cbg
Min: 170310101001
Max: 550599900000


total
Min: 5
Max: 9089


completely_home
Min: 1
Max: 3637


part_time_work
Min: 1
Max: 504


full_time_work
Min: 1
Max: 244


percentage_completely_home
Min: 0.6944444444444444
Max: 94.87179487179486


percentage_part_time_work
Min: 0.1718213058419244
Max: 66.66666666666666


percentage_full_time_work
Min: 0.06067961165048543
Max: 57.14285714285714


norm_completely_home
Min: -3.0584153064913604
Max: 6.456488060129292


norm_part_time_work
Min: -1.6954772012255084
Max: 11.105009681422562


norm_full_time_work
Min: -1.2470644256122123
Max: 10.741186523936774

In [ ]:
# Print all Null and NaN values

print('We have {} null values.'.format(len(devices_mobility[devices_mobility.isna().any(axis=1)])))

We have 0 null values.

In [ ]:
# Get average values for all columns

In [ ]:
# Save Dataframe to file
# Do same for all cities
# Combine entries to get average for 2019

In [ ]:
# # Grouping based on day

# grouped_dm = devices_mobility.groupby(devices_mobility['date']).mean()
# grouped_dm

In [ ]:
# grouped_dm.reset_index()

In [ ]:
# #Visualising mobility

# title = '{} {}'.format(city,year)
# alt.Chart(grouped_dm.reset_index()).mark_line().encode(
#     x=alt.X('date', title='Date'),
#     y=alt.Y(alt.repeat('row'), type='quantitative')
# ).properties(
#     width=300,
#     height=250
# ).repeat(
#     row=['percentage_completely_home','percentage_part_time_work','percentage_full_time_work']
# ).interactive()

![ch-daily-2019.png](https://github.com/chouhandiksha/bigdataproject/raw/main/media/social-dist/ch-daily-2019.png)

In [ ]:
# #Adding month column for further usage

# devices_mobility['month'] = devices_mobility['date'].dt.month
# devices_mobility

In [ ]:
# #Grouping data on basis of month value
# grouped_dm = devices_mobility.groupby([devices_mobility['month']]).mean()
# grouped_dm

In [ ]:
# d = []
# for col in ['percentage_completely_home','percentage_part_time_work','percentage_full_time_work']:
#         for m in range(1,13):
#             d.append({'month': m, 'column': col, 'value': grouped_dm[col][m]})
# d = alt.Data(values=d)

In [ ]:
# title = '{} {}'.format(city,year)
# alt.Chart(d, title=title).mark_line().encode(
#     x=alt.X('month:O', title='Month'),
#     y=alt.Y('value:Q', type='quantitative', title='Percentage'),
#     color='column:N'
# ).properties(
#     width=300,
#     height=250
# ).interactive()

![ch-monthly-2019](https://github.com/chouhandiksha/bigdataproject/raw/main/media/social-dist/ch-monthly-2019.png)

In [ ]:
df_summary = devices_mobility.describe()
df_summary

              total  completely_home  ...  norm_part_time_work  norm_full_time_work
count  2.430227e+06     2.430227e+06  ...         2.430227e+06         2.430227e+06
mean   9.504381e+01     2.983398e+01  ...         1.189522e-12        -6.917475e-14
std    1.119792e+02     4.251987e+01  ...         1.000000e+00         1.000000e+00
min    5.000000e+00     1.000000e+00  ...        -1.695477e+00        -1.247064e+00
25%    5.200000e+01     1.500000e+01  ...        -7.818151e-01        -8.081579e-01
50%    7.200000e+01     2.200000e+01  ...        -1.243580e-01        -2.942109e-01
75%    1.030000e+02     3.300000e+01  ...         6.265420e-01         5.592402e-01
max    9.089000e+03     3.637000e+03  ...         1.110501e+01         1.074119e+01

[8 rows x 10 columns]

In [ ]:
filename = 'drive/MyDrive/big-data-project/sketch/justin/{}_social_summary_{}.csv'.format(city_directory, year)
df_summary.to_csv(filename)